node_modules/
**/node_modules/
apps/solution-web/node_modules
.venv/
.env
.DS_Store
dist/
release/
/apps/windows-app/bundle/
deprecated/
/apps/solution-api/data/
.vscode/
.idea/
**/*/__pycache__
__pycache__/
**/*/.venv*
.claude/
.de-practice-tasks.md
