:root {
  --font-main:
    -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Inter", "Roboto",
    sans-serif;
  --font-secondary:
    -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Inter", "Roboto",
    sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;

  font-family: var(--font-main);
  background-color: #f2f3f5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f2f3f5;
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
